@import "index";
@import "inicio";

body{ //lo utilizaremos para todas las páginas
    background-color: #e0e1db;
}

footer { //lo utilizaremos en todas las páginas
    background-color: #000; 
    color: #fff;
    padding: 27px;

    img{
        width: 10%;
        padding-right: 400px;
    }

    p{
        display: inline-block;
        padding-left: 35px;
    }
}