@import "index";
@import "inicio";

footer { //lo utilizaremos en la página de index.html y en la página de registro.html
    background-color: #000; 
    color: #fff;
    padding: 27px;

    img{
        width: 10%;
        padding-right: 400px;
    }

    p{
        display: inline-block;
        padding-left: 35px;
    }
}