.inicio{
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;



        .marco{
            background-color: antiquewhite;
            margin: 15px;
            padding: 10px;
            border-radius: 55px;
            border-color: #090909;
            opacity: 0.92;

            .proximaCarrera{
                padding-top: 20px;
                margin: 30px;
                margin-right: 90px;

                .title{
                    padding-left: 320px;
                }

                hr{
                    border-color: #EE0000;
                    width: 63%;
                    border-width: 3px;                
                }

                .carreraDatos{
                    padding-left: 100px;
                }
                
                div{
                    flex-basis: calc(33.33% - 10px);
                    margin-bottom: 20px;
                }
                
                img{
                    width: 600px;
                }            
            }
        }

    }
}