.perfil{
        body{
            background-image: url('../imagenes/fotos/registro1.png');
            background-size: cover;
            background-position: center ;
            background-repeat: no-repeat;

            
        .marco{
            background-color: antiquewhite;
            margin: 15px;
            padding: 10px;
            border-radius: 55px;
            border-color: #090909;
            opacity: 0.92;

            .perfil{
                .title{
                    padding-top: 20px;
                    padding-left: 680px;
                }
            
                hr{
                    border-color: #EE0000;
                    width: 63%;
                    border-width: 3px;
                }              
            }

                
            .formulario{
                padding-top: 20px;

                form {
                    .izqd{
                        float: left;
                        width: 50%;
                        margin-bottom: 30px;
                    }

                    .drch{
                        float: right;
                        width: 50%;
                        margin-top: 25px;
                    }

                    padding-left: 100px;
                    
                    label {
                        display: block;
                        margin-bottom: 5px;
                    }
                
                    input {
                        width: 80%;
                        height: 50px;
                        border: 1px solid #090909;
                    }

                    input[type = "button"]{
                        margin-left: 350px;
                        color: #FFFFFF;
                        background-color: #EE0000;
                    }
                }
            }
        }
    }
}