.registro{
    body{
        background-image: url('../imagenes/fotos/registro1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .navbar {
            background-color: #38383f;
            display: flex;
            padding-left: 40%;
            align-items: center;
    
            input[type = "button"] {
                background-color: transparent;
                border: none;
                color: white;
                font-size: 16px;
                margin: 0 10px;
                padding: 0;
            }
        }

        .marco{
            background-color: antiquewhite;
            margin: 15px;
            padding: 10px;
            border-radius: 55px;
            border-color: #090909;
            opacity: 0.92;

            .contenidoregistro{
            padding-top: 20px;
        
            .title{
                padding-left: 350px;
            }
            
            hr{
                border-color: #EE0000;
                width: 63%;
                border-width: 3px;        
            }
            
            form { 
                label {
                    display: block;
                    margin-bottom: 5px;
                }
            
                input {
                    width: 55%;
                    height: 50px;
                    border: 1px solid #090909;
                }  
            }
        
                input[type = "button"]{
                    margin-left: 350px;
                    color: #FFFFFF;
                    background-color: #EE0000;
                }
    
                .error{
                    margin-left: 20px;
                }
        
                p{
                    margin-left: 350px;
                }
                padding-bottom: 65px;
        
                a{
                    text-decoration: none;
                    color: red;
                }
            }
        }
    }
}