.index body {
  background-image: url("../imagenes/fotos/1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.index body .navbar {
  background-color: #38383f;
  display: flex;
  padding-left: 40%;
  align-items: center;
}
.index body .navbar input [type=button] {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  margin: 0 10px;
  padding: 0;
}
.index body .marco {
  background-color: antiquewhite;
  margin: 15px;
  padding: 10px;
  border-color: #090909;
  opacity: 0.9;
}
.index body .marco .inicioSesion {
  padding-top: 20px;
}
.index body .marco .inicioSesion .title {
  padding-left: 350px;
}
.index body .marco .inicioSesion hr {
  border-color: #EE0000;
  width: 63%;
  border-width: 3px;
}
.index body .marco .inicioSesion form {
  padding-left: 350px;
}
.index body .marco .inicioSesion form label {
  display: block;
  margin-bottom: 5px;
}
.index body .marco .inicioSesion form input {
  width: 55%;
  height: 50px;
  border: 1px solid #090909;
}
.index body .marco .form {
  padding-bottom: 65px;
}
.index body .marco .form input[type=button] {
  margin-left: 350px;
  color: #FFFFFF;
  background-color: #EE0000;
}
.index body .marco .form .error {
  margin-left: 20px;
}
.index body .marco .form p {
  margin-left: 350px;
}
.index body .marco .form a {
  text-decoration: none;
  color: red;
}

.registro .navbar {
  background-color: #38383f;
  display: flex;
  padding-left: 40%;
  align-items: center;
}
.registro .navbar input[type=button] {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  margin: 0 10px;
  padding: 0;
}
.registro .contenidoregistro {
  padding-top: 20px;
}
.registro .contenidoregistro .title {
  padding-left: 350px;
}
.registro .contenidoregistro hr {
  border-color: #EE0000;
  width: 63%;
  border-width: 3px;
}
.registro .contenidoregistro .formulario {
  padding-bottom: 65px;
}
.registro .contenidoregistro .formulario form {
  padding-left: 350px;
}
.registro .contenidoregistro .formulario form .izqd {
  float: left;
  width: 50%;
  margin-bottom: 30px;
}
.registro .contenidoregistro .formulario form .drch {
  float: right;
  width: 50%;
  margin-top: 25px;
}
.registro .contenidoregistro .formulario form label {
  display: block;
  margin-bottom: 5px;
}
.registro .contenidoregistro .formulario form input {
  width: 55%;
  height: 50px;
  border: 1px solid #090909;
}
.registro .contenidoregistro .formulario input[type=button] {
  margin-left: 350px;
  color: #FFFFFF;
  background-color: #EE0000;
}
.registro .contenidoregistro .formulario .error {
  margin-left: 20px;
}
.registro .contenidoregistro .formulario p {
  margin-left: 350px;
}
.registro .contenidoregistro .formulario a {
  text-decoration: none;
  color: red;
}

.inicio main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.inicio main div {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}
.inicio main img {
  width: 600px;
}

.perfil .title {
  padding-top: 20px;
  padding-left: 680px;
}
.perfil hr {
  border-color: #EE0000;
  width: 63%;
  border-width: 3px;
}
.perfil .formulario {
  padding-top: 20px;
}
.perfil .formulario form {
  padding-left: 100px;
}
.perfil .formulario form .izqd {
  float: left;
  width: 50%;
  margin-bottom: 30px;
}
.perfil .formulario form .drch {
  float: right;
  width: 50%;
  margin-top: 25px;
}
.perfil .formulario form label {
  display: block;
  margin-bottom: 5px;
}
.perfil .formulario form input {
  width: 80%;
  height: 50px;
  border: 1px solid #090909;
}
.perfil .formulario form input[type=button] {
  margin-left: 350px;
  color: #FFFFFF;
  background-color: #EE0000;
}

@font-face {
  font-family: "Titillium";
  src: url("../fonts/titillium-web/TitilliumWeb-Regular.ttf"), url("../fonts/titillium-web/TitilliumWeb-BoldItalic.ttf"), url("../fonts/titillium-web/TitilliumWeb-Black.ttf");
}
html {
  font-family: "Titillium", sans-serif;
}

body {
  background-color: #e0e1db;
}

.cabecera {
  background-color: #000; /* Color de fondo de la cabecera */
  color: #fff; /* Color del texto */
  padding: 10px; /* Espaciado interno */
}

.cabecera2 {
  background-color: #000;
  color: #fff;
  padding-top: 25px;
}
.cabecera2 .logo {
  width: 10%;
  padding-right: 220px;
}
.cabecera2 a {
  text-decoration: none;
  color: white;
  padding-right: 60px;
}
.cabecera2 a p {
  display: inline-block;
  padding-left: 40px;
}
.cabecera2 .iconoPerfil {
  padding-left: 125px;
}

.cabeceraOrientacion {
  width: 25%;
  display: flex;
  flex-direction: row;
}

.cabeceraOrientacion.orientacion-vertical {
  flex-direction: column;
}

footer {
  background-color: #000;
  color: #fff;
}
footer img {
  width: 10%;
  padding-right: 400px;
  padding-top: 6px;
}
footer p {
  display: inline-block;
  padding-left: 35px;
}/*# sourceMappingURL=estilo.css.map */