@import "index";
@import "_registro";
@import "inicio";
@import "perfil";
@import "_tusPilotos";
@import "pilotos";


@font-face {
    font-family: 'Titillium';

    src: url('../fonts/titillium-web/TitilliumWeb-Regular.ttf'),
        url('../fonts/titillium-web/TitilliumWeb-BoldItalic.ttf'),
        url('../fonts/titillium-web/TitilliumWeb-Black.ttf')
}

html{
    font-family: 'Titillium', sans-serif;
}

body{ //lo utilizaremos para todas las páginas
    background-color: #e0e1db;
}

.cabecera{
 //lo utilizaremos en index.html y en registro.html
    background-color: #000; /* Color de fondo de la cabecera */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
}

.cabecera2{
    background-color: #000; 
    color: #fff;
    padding-top: 25px;

    .logo{
        width: 10%;
        padding-right: 220px;
    }

    a{
        text-decoration: none;
        color: white;
        padding-right: 40px;

        &:hover {
            color: red; /* Cambiar a rojo cuando se pasa el mouse sobre el enlace */
        }

        p{
            display: inline-block;
            padding-left: 80px;
        }
    }

    .iconoPerfil{
        padding-left: 100px;
    }

    .cabeceraOrientacion {
        position: relative; /* Asegúrate de que la posición sea relativa para usar posición absoluta en los hijos */
    }

    .imagen-vertical{
        display: none;
    }

    .imagen-vertical.mostrar{
        position: absolute;
        top: 0;
        right: 0;
        max-height: 100%;
    }

    .color-alternativo {
        background-color: #cbccc4;
        /* Otros estilos que desees aplicar al cambiar la orientación */
      }
}

.cabeceraOrientacion{
    width: 25%;
    display: flex;
    flex-direction: row;
}

.cabeceraOrientacion.orientacion-vertical{
    flex-direction: column;
}

footer { //lo utilizaremos en todas las páginas
    background-color: #000; 
    color: #fff;

    img{
        width: 10%;
        padding-right: 400px;
        padding-top: 6px;
    }

    p{
        display: inline-block;
        padding-left: 35px;
    }
}